#virtualenv files and folders
bin/
include/
lib/
lib64/
site-packages/
pyvenv.cfg
lib64
pip-selfcheck.json

#useless plots
Code/Gemma/Part2/cityblock/
Code/Gemma/Part2/cosine/
Code/Gemma/Part2/euclidean/
